extends layout
block content
    h1.title Blog
    each article in articles
        h3.title
            a.undecorated(href= article.id)!= fromMarkdown(article.title)
        div.article-summary!= fromMarkdown(article.summary)
            a.read-more(href= article.id) read more...