extends layout
block content
    h1.title Contact
    div.pure-g-r
        div.pure-u-1-10 email:
        div.pure-u-9-10
            a.email.undecorated(href='mailto:andy@robotlovesyou.com') andy@robotlovesyou.com
        div.pure-u-1-10 twitter:
        div.pure-u-9-10
            a.twitter.undecorated(href='https://twitter.com/ridiculousGnome') @ridiculousGnome
