include mixins/navigation
extends layout
block content
    img.robotlovesyou(src='/images/robotlovesyou300.png')
    mixin navigation ()
    div email:
        a.email(href='mailto:andy@robotlovesyou.com') andy@robotlovesyou.com
    div twitter:
        a.twitter(href='https://twitter.com/ridiculousGnome') @ridiculousGnome
