extends layout
block content
    div.explainatory-text
        p!= fromMarkdown('#Hello. \nBit, errm, *functional* round here at the moment isn\'t it? I\'m [blogging the redevelopment of this site](/blog/), and I\'ve only done one release, hence the rather basic state of things.')


