mixin navigation ()
    div.navigation
        ul
            li
                a.home(href='/') home
            li
                a.blog(href='/blog/') blog
            li
                a.contact(href='/contact') contact