mixin navigation ()
    div.navigation.pure-menu.pure-menu-open
        a.pure-menu-heading
            img.robotlovesyou(src='/images/robotlovesyou300.png')
        ul
            li
                a.home(href='/') home
            li
                a.blog(href='/blog/') blog
            li
                a.contact(href='/contact') contact
            li.pure-menu-heading
                img.robot.pure-hidden-phone(src='/images/robot150.png')